/* general rules */

body {
    background-color: #f0fba19d;
    cursor: url('/images/normal.png'), auto;
}

code {
    background-color: #eefa94;
}

div, p {
    font-family: Microsoft Tai Le, Candara, sans-serif;
    line-height: 1.5;
}

h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 150%;
    padding: 2%;
}

h3 {
    font-size: 120%;
    padding: 1%;
}

header {
    padding: 3%;
    margin: auto;
}

/* custom classes */

.center_text {
    width: 100%;
    display:inline-block;
    text-align: center;
}

.center_element {
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.flexy {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}